# deps
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env*.local

# build
dist/
build/
.next/
out/
next-env.d.ts
*.tsbuildinfo

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
